# Telegram BotFather dan olingan bot tokeni
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxyz

# Bulutli server porti (Render yoki Koyeb buni o'zi avtomatik to'ldiradi)
PORT=8080

# Eksklyuziv tabriklar narxi (so'mda)
VIP_PRICE=7000
