# Muhit o'zgaruvchilari (Tokenlar hech qachon GitHub ga chiqmasligi shart!)
.env

# Python kesh va baytkodlari
__pycache__/
*.py[cod]
*$py.class

# Virtual muhitlar
venv/
.venv/
env/

# IDE va OS fayllari
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ma'lumotlar bazasi va eksport fayllari
*.db
*.sqlite
*.sqlite3
*.csv

